<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
          integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <title>Todo</title>
</head>

<body>
    <div style="text-align: center;"><h1>Todos</h1></div>

    <div class="container">
        <div class="card">
            <div class="card-header">Add a task</div>
            <div class="card-body">
                <form action="/add" method="post">
                    <div class="form-group">
                        <label for="Title">Item</label>
                        <input type="text" class="form-control" name="title" placeholder="What do you want to do?">
                        <small class="form-text text-muted">Enter what you want to procastinate 🙂</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="container">
        <div class="card">
            <div class="card-header">Tasks</div>
            <div class="card-body">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">Task</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .Todos}}
                        {{if .Completed}}
                            <tr>
                                <td><strike>{{.Title}}</strike></td>
                                <td><strike>{{.Created_at}}</strike></td>
                                <td>Completed</td>
                                <td>
                                    <a href="/complete/{{.Id}}"><button class="btn btn-primary" disabled>Complete</button>
                                        <a href="/delete/{{.Id}}"><button class="btn btn-danger">Delete</button></a>
                                        <a href="/update/{{.Id}}"><button class="btn btn-secondary" disabled>Edit</button></a>
                                </td>
                            </tr>
                        {{else}}
                            <tr>
                                <td contenteditable="true">{{.Title}}</td>
                                <td>{{.Created_at}}</td>
                                <td>Not Completed</td>
                                <td>
                                    <a href="/complete/{{.Id}}"><button class="btn btn-primary">Complete</button></a>
                                    <a href="/delete/{{.Id}}"><button class="btn btn-danger">Delete</button></a>
                                    <div class="form-group">
                                    <form action="/update/{{.Id}}" method="put">
                        <input type="text" class="form-control" name="newTitle" placeholder="What would you like to rename it to?">
                                    <a href="/update/{{.Id}}"><button class="btn btn-secondary">Update Title</button></a>
                </form>
                </div>
                                </td>
                            </tr>
                        {{end}}
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
